.*
!.gitignore

*.aux
*.in
*.log
*.pdf
*.png
*.pyc
*.tex
*.tikz
*.UPF

bands.dat*
work

*.amn
*.chk
*.eig
*.mmn
*.nnkp
*.werr
*.wout
*_band.dat
*_band.gnu
*_band.kpt
*_hr.dat
*_wsvec.dat

dyn*
ifc

__pycache__
